<header>
  <div class="header-container">
    <div class="header-left">
      <div class="logo-wrapper">
        <img src="assets/images/AutoD.png" alt="Logo" class="logo" />
      </div>
    </div>

     <!-- Center: Menus -->
     <div class="header-center" *ngIf="isLoggedIn">
      <nav class="nav-menu">
        <button (click)="goToLearning()">📘 Learning</button>
        <button (click)="goToPractice()">📝 Practice</button>
        <button (click)="goToTest()">🎓 Test</button>
        <button (click)="userAccount()">👤 My Account</button>
        <button (click)="goToAnalytics()">📈 Analytics</button>
      </nav>
    </div>
    <div class="header-right" *ngIf="isLoggedIn" >
      <span class="username">👋 Welcome, {{ username }} </span>


      <!--<button (click)="userAccount()">My Account</button>-->
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</header>
