<header>
  <div class="header-container">
    <div class="header-left">
      <div class="logo-wrapper">
        <img src="assets/images/AutoD.png" alt="Logo" class="logo" />
      </div>
    </div>

     <!-- Center: Menus -->
     <div class="header-center" *ngIf="isLoggedIn">
      <nav class="nav-menu">
        <button (click)="goToLearning()">📘 Learning</button>
        <button (click)="goToPractice()">📝 Practice</button>
        <button (click)="goToTest()">🎓 Test</button>
      </nav>
    </div>
    <div class="header-right" *ngIf="isLoggedIn" >
      <div class="user-menu">
        <button class="user-menu-trigger" type="button">👋 Welcome, {{ username }}</button>
        <div class="user-dropdown">
          <button type="button" (click)="goToAnalytics()">📈 Analytics</button>
          <button type="button" (click)="userAccount()">👤 My Account</button>
          <button type="button" (click)="logout()">🚪 Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>
