
<div class="quiz-wrapper" *ngIf="questions.length > 0">
    <!-- LEFT SIDEBAR (Reserved for future) -->
    <div class="left-sidebar">
        <app-left-sidebar> </app-left-sidebar>
    </div>
  
    <!-- MAIN QUIZ CONTENT -->
    <div class="quiz-main-card">
      <div class="quiz-header">
        <h2 class="quiz-title subtraction">
          {{ currentOperation | titlecase }} – 
          {{
            currentOperation === 'sudoku'
              ? (level === 1 ? 'Easy' : level === 2 ? 'Medium' : 'Difficult')
              : 'Level ' + level
          }}
        </h2>
      </div>
  
      <!-- Question -->
      <div class="question-row">
        <div class="character-container" (click)="readQuestionAloud()">
         <img
            src="assets/images/bird1.png"
            alt="Bird Reader"
            [class.animate]="isReading"
          /> 
        </div>
        <div class="question-container">        
            
        <p>
         <!--  <button class="volume-btn" (click)="readQuestionAloud()" aria-label="Read question aloud">🔊</button>-->
          {{ questions[currentQIndex].question.split('=')[0] }} =
          <input
          type="text"
          [(ngModel)]="answerInput"
          class="answer-input"
          placeholder=""
          (keyup.enter)="submitAnswer()" />    
         
        </p>
      </div>
  </div>
      <!-- Feedback -->
      <div class="feedback" *ngIf="feedbackMessage">
        <p style="white-space: pre-line;">{{ feedbackMessage }}</p>
      </div>
  
      <!-- Buttons -->
      <div class="button-group">
        <button style="background-color:#73AD21" *ngIf="!quizCompleted" (click)="submitAnswer()">Submit</button>
        <button *ngIf="quizCompleted && score < questions.length" (click)="restartQuiz()" class="try-again">🔁 Try Again</button>
      </div>
    </div>

    <!-- RIGHT SIDEBAR (Only after questions are loaded) -->
    <div class="right-sidebar">
      <app-right-sidebar
        [userName]="userName"
        [score]="score"
        [currentQIndex]="currentQIndex"
        [totalQuestions]="questions.length"
        [elapsedTime]="elapsedTime">
      </app-right-sidebar>
    </div>
   
</div>
   
  <!-- Optional loading fallback -->
  <div *ngIf="questions.length === 0">
    <p>Loading questions...</p>
    
  </div>
  <div class="footer" style="margin: auto; padding: relative; width: 5%0;">
    <app-footer></app-footer>
  </div>
