    <div class="user-head" 
    style="background-color: #56aa08; width: 60%; margin-left:30px; color:white;
    padding-top: 20px; text-align: center; padding: 10px; font-size: 18px;
        font-weight: bold; border-radius: 10px; ">
        User</div>
    <div class="user-cont" style="font-size: 14px; padding: 10px; text-align: center;">{{ userName }}</div>

    <div class="user-head" style="background-color: #eb6a13; width: 60%; margin-left:30px; color:white;
    padding-top: 20px; text-align: center; padding: 10px; font-size: 18px;
        font-weight: bold; border-radius: 10px;">Score</div>
    
    <div class="user-cont" style="font-size: 14px; padding: 10px; text-align: center;">{{ score }} / {{ totalQuestions }}</div>

    <div class="user-head" style="background-color: #14b1d8; width: 60%; margin-left:30px; color:white;
    padding-top: 20px; text-align: center; padding: 10px; font-size: 18px;
        font-weight: bold; border-radius: 10px;">Progress</div>
    
    <div class="user-cont" style="font-size: 14px; padding: 10px; text-align: center;">{{ currentQIndex + 1 }} of {{ totalQuestions }}</div>

    <div class="user-head" style="background-color: #dd439d; width: 60%; margin-left:30px; color:white;
    padding-top: 20px; text-align: center; padding: 10px; font-size: 18px;
        font-weight: bold; border-radius: 10px;">Time</div>

    <div class="user-cont" style="font-size: 14px; padding: 10px; text-align: center;">{{ elapsedTime }}</div>
