<div class="home-wrapper">
  <div class="home-container">
    <img src="assets/Autodidact.gif" alt="Welcome" class="intro-gif" />
  </div>
  <!--<mat-slide-toggle [(ngModel)]="musicOn">Enable Music</mat-slide-toggle>
  <p>Music is {{ musicOn ? 'ON 🎵' : 'OFF 🔇' }}</p>-->

  <div class="button-group">
    <button mat-button (click)="openLogin()">🔐 Login</button>
    <button mat-button (click)="openRegister()">📝 Register</button>
  </div>

  <!-- Login Modal -->
  <app-login *ngIf="showLogin" (close)="closeModals()"></app-login>
  
  <!-- Register Modal -->
  <app-register *ngIf="showRegister" (close)="closeModals()"></app-register>
</div>
