<div class="quiz-wrapper">
  <app-left-sidebar class="left-sidebar"></app-left-sidebar>

  <div class="learn-wrapper">
    <h2>Learning Module: {{ operation | titlecase }} - Level {{ level }}</h2>
    <p class="learn-caption">
      {{ activeModule.objective }}
    </p>

    <div class="module-card">
      <h3>{{ activeModule.title }}</h3>
      <ul>
        <li *ngFor="let tip of activeModule.tips">{{ tip }}</li>
      </ul>
    </div>

    <div class="video-container" *ngIf="youtubeUrl; else noVideo">
      <iframe
        width="560"
        height="315"
        [src]="youtubeUrl"
        title="Learning video"
        frameborder="0"
        allowfullscreen
      >
      </iframe>
    </div>
    <ng-template #noVideo>
      <p class="learn-caption">No video is configured for this level yet.</p>
    </ng-template>

    <img [src]="imageSrc" alt="Worked example" class="worked-example-image" />

    <div class="module-card" *ngIf="example">
      <h3>Worked Example</h3>
      <p>{{ example.question }}</p>
      <p>Answer: {{ example.answer }}</p>
    </div>

    <div class="practice-done-box">
      <div class="hover-options">
        <div class="hover-item" (click)="goToPractice()">
          <img src="assets/images/yellowPuzzle.png" alt="Practice" class="puzzle-icon" />
          <span class="hover-text">Practice first</span>
        </div>
    
        <div class="hover-item" (click)="takeChallenge()">
          <img src="assets/images/redPuzzle.png" alt="Challenge" class="puzzle-icon" />
          <span class="hover-text">Take challenge</span>
        </div>
      </div>
    </div>
    
  </div>

  <div class="right-sidebar"></div>
</div>
