<div class="quiz-wrapper">
  <!-- LEFT SIDEBAR -->
  <app-left-sidebar class="left-sidebar"></app-left-sidebar>

  <!-- MAIN CONTENT -->
  <div class="learn-wrapper">
    <h2>📘 Let's Learn: {{ operation | titlecase }} - Level {{ level }}</h2>
    <p class="learn-caption">
      Watch this video to understand concepts in {{ operation }} with fun animations!
    </p>
    
        <div (ended)="onVideoEnd()" video="video_container" *ngIf="youtubeUrl">
          <iframe width="560" height="315"
          [src]="this.youtubeUrl"
          frameborder="0"
          allowfullscreen>
          </iframe>

        </div>

    <p class="learn-caption">
    Read     </p>

    <img [src]="'assets/images/' + operation + '_level' + level + '.png'" alt="Working Example" style="width: 550px; height: 500px;" />

    <div *ngIf="example">
      <h3>Example:</h3>
      <p>{{ example.question }}</p>
      <p>Answer: {{ example.answer }}</p>
    </div>

    <div class="button-group">
      <button (click)="goBack()">🔙 Go Back</button>
      <button class="try-again" *ngIf="videoFinished" (click)="tryPractice()">🛠️ Try Out</button>
      <button class="try-again" *ngIf="videoFinished" (click)="takeChallenge()">🚀 Take Challenge</button>
    </div>
  </div>

  <!-- RIGHT SIDEBAR -->
  <div class="right-sidebar">
  
  </div>
</div>
