

    <!-- User -->
<div class="user-head" style="background-color: #56aa08;">User</div>
<div class="user-cont">{{ username }}</div>

<!-- Score -->
<div class="user-head" style="background-color: #eb6a13;">Score</div>
<div class="user-cont">{{ score }} / {{ totalQuestions }}</div>

<!-- Progress -->
<div class="user-head" style="background-color: #14b1d8;">Questions</div>
<div class="user-cont">{{ currentQIndex + 1 }} of {{ totalQuestions }}</div>

<!-- Time -->
<div class="user-head" style="background-color: #dd439d;">Time</div>
<div class="user-cont">{{ elapsedTime }}</div>
